[include]
    path = ~/.gituser

# Always sign commits
[commit]
    gpgsign = true

[core]
    editor = nvim
    autocrlf = false
    pager = diff-so-fancy | less --tabs=4 -RFX
    excludesfile = ~/.gitignore
    quotePath = false

[diff]
  tool = kitty
  guitool = kitty.gui

[difftool]
    prompt = false
    trustExitCode = true

[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE

[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE

[web]
    browser = qutebrowser

[push]
    default = simple

[branch]
    autosetuprebase = always

[init]
	defaultBranch = master

[rerere]
    enabled = true

[color]
    ui = true

[alias]
    contrib = shortlog -n -s
    remotes = remote -v
    praise = blame
    verify = log --show-signature

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
