! New Start: A modern Arch workflow built with an emphasis on functionality.
! Copyright (C) 2017-2018 Donovan Glover

! Use 1.875x (180/96) scaling for 4k (Effectively 2048x1152)
Xft.dpi: 180

! Make it easier to distinguish between letters (Required for dpi < 300)
Xft.hinting: true

! Make high resolution output look cleaner
Xft.antialias: true

! Only use hinting if the font provides it; do not attempt to autohint
Xft.autohint: false

! Reduce blur and other unwanted artifacts
Xft.lcdfilter: lcddefault

! Align the font fully to the grid (increases clarity)
Xft.hintstyle: hintfull

! Make font colors look better (?)
Xft.rgba: rgb

! Make letter spacing identical to termite
URxvt.letterSpace: 1

! Transparency example. Note that setting URxvt.depth will cause
! problems with the urxvt image mode in ranger
! URxvt.background: rgba:0000/0000/0200/e800
! URxvt.depth: 32

! urxvt settings
URxvt.font: xft:Hack:size=11

URxvt.scrollBar: false
URxvt.internalBorder: 30
URxvt.cursorBlink: true
URxvt.pointerBlank: true

! https://wiki.gentoo.org/wiki/Rxvt-unicode
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-launcher: /usr/bin/firefox
URxvt.underlineURLs: true
URxvt.matcher.button: 1
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V: perl:pasta:paste
URxvt.clipboard.autocopy: true

! Disable default ctrl shift behavior of urxvt
URxvt.iso14755: false
URxvt.iso14755_52: false

! This line is used to indicate where to add theme colors. Note that everything
! after this line is replaced.
!
! TODO: Replace this with an include. It may be ideal to split the other settings
!       into separate files as well.

! [colors]
*foreground: #D0D0D0
*cursorColor: #E0E0E0
*background: #151515
*color0: #151515
*color8: #505050
*color7: #D0D0D0
*color15: #FFFFFF
*color1: #FF0086
*color9: #FF0086
*color2: #00C918
*color10: #00C918
*color3: #ABA800
*color11: #ABA800
*color4: #3777E6
*color12: #3777E6
*color5: #AD00A1
*color13: #AD00A1
*color6: #1FAAAA
*color14: #1FAAAA
*color16: #FD8900
*color17: #CC6633
*color18: #202020
*color19: #303030
*color20: #B0B0B0
*color21: #E0E0E0

! vim:ft=xdefaults
