! New Start: A modern Arch workflow built with an emphasis on functionality.
! Copyright (C) 2017-2018 Donovan Glover

! Make it easier to distinguish between letters (Required for dpi < 300)
Xft.hinting: true

! Make high resolution output look cleaner
Xft.antialias: true

! Only use hinting if the font provides it; do not attempt to autohint
Xft.autohint: false

! Reduce blur and other unwanted artifacts
Xft.lcdfilter: lcddefault

! Align the font fully to the grid (increases clarity)
Xft.hintstyle: hintfull

! Set the type of subpixel antialiasing to rgb
Xft.rgba: rgb

! vim:ft=xdefaults
