configuration {
  modi: ["drun", "filebrowser"];
  font: "Noto Sans CJK JP 12";
  show-icons: true;
  bw: 0;
  display-drun: "";
  display-window: "";
  display-combi: "";
  drun-icon-theme: "Papirus-Dark";
  terminal: "kitty";
  scroll-method: 1;
}

@theme "~/.cache/wal/rofi.rasi"

listview {
	columns: 3;
}

window {
	width: 1200px;
}

// vim:syn=java
