configuration {
  modi: ["drun", "filebrowser"];
  font: "Noto Sans CJK JP 12";
  show-icons: true;
  bw: 0;
  display-drun: "";
  display-window: "";
  display-combi: "";
  icon-theme: "Papirus";
  terminal: "kitty";
  drun-match-fields: "name";
  drun-display-format: "{name}";
  window {
    hide-active-window: true;
  }
  me-select-entry: "";
  me-accept-entry: "MousePrimary";
}

@theme "~/.cache/wal/rofi.rasi"

listview {
  cycle: false;
}

// vim:syn=java
