root = true

# Use 2 spaces for indentation by default
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

# Use tab indentation (with size 4) for the following files
[Makefile]
indent_style = tab
indent_size = 4

[*.html]
indent_style = tab
indent_size = 4
