<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AquaStart</title>
        <link rel="stylesheet" href="/design.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/icon.png">
    </head>
    <body>
        <%= content %>
        <script src="/app.js"></script>
    </body>
</html>
