img {
  all: unset;
}

.desktop-icons {
  all: unset;
}

.overlay {
  background: transparent;
  color: #f8f8f2;
  font-weight: bold;
  text-shadow: 0 0 0.075em #272822;
  font-size: 32px;
  opacity: 0.1;
}
